@model GameScheduler.BLL.Models.GameModels.GetGameByIdResponse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GetGameByIdResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <h4>Users</h4>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-controller="GameFile" asp-action="Create" asp-route-gameId=@Model.Id>Add Game File</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h4>Game Files</h4>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GameFiles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="@item.Path">текст ссылки</a>
                       | <a asp-controller="GameFile" asp-action="Delete" asp-route-gameId=@Model.Id asp-route-name=@Model.Name>Delete</a>
                    </td>
            </tr>
        }
    </tbody>
</table>

<p>@TempData["ErrorMessage"]</p>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
