@model GameScheduler.BLL.Models.GameModels.GetGamesResponse

@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>
<form asp-action="Index">
    <p><input type="text" name="name" /> Name</p>
    <p><input type="date" name="minDateTime" /> Min DateTime</p>
    <p><input type="date" name="maxDateTime" /> Max DateTime</p>
    <p><input type="checkbox" name="FilterByTime" value="true" /> Filter By Time</p>
    <p><input type="submit" value="Search" /></p>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id, name = item.Name })
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.PreviousPageExist)
{
    @Html.ActionLink("Index", "<<", new{
        name=Model.History.Name,
        minDateTime=Model.History.MinDateTime,
        maxDateTime=Model.History.MaxDateTime,
        filterByTime = Model.History.FilterByTime,
        pageSize = Model.History.PageSize,
        pageNumber = Model.History.PageNumber - 1
    } )
}
@if (Model.NextPageExist)
{
    @Html.ActionLink("Index", ">>", new{
        name=Model.History.Name,
        minDateTime=Model.History.MinDateTime,
        maxDateTime=Model.History.MaxDateTime,
        filterByTime = Model.History.FilterByTime,
        pageSize = Model.History.PageSize,
        pageNumber = Model.History.PageNumber + 1
    } )
}


